body{
    background-color: hsl(0, 0%, 90%);
}









h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




.button {
    position: relative;
    overflow: hidden;
    height: 2.4rem;
    padding: 0 1.5rem;
    border-radius: 8px;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
    letter-spacing: 0.6px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 500;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  








.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}









.container{
    padding: 10px;
}

input{
    padding: 10px 13px;
    width: 200px;
    border-radius: 8px;
    border: 0.1px solid #000;
}








p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
}






.villain{
    display: flex;  
    flex-direction: column;
    height: 65vh;
    align-items: center;
    justify-content: center;
}












  
  
  
  